# 2. На основі обраного або власного набору даних виконати наступні кроки.

- Підготовка даних: завантажити або створити датасет з категоріальними 
змінними (від 5 до 10 атрибутів); виконати необхідне попереднє 
опрацювання: заміна пропущених значень, дискретизація числових змінних, 
перекодування.

In [1]:
import pandas as pd

In [3]:
ds = pd.read_csv("../data/plant_growth_data.csv")

In [4]:
ds.sample(4)

,Soil_Type,Sunlight_Hours,Water_Frequency,Fertilizer_Type,Temperature,Humidity,Growth_Milestone
100,sandy,8.000000,daily,organic,25.000000,60.000000,1
44,sandy,9.228764,daily,none,33.804605,32.815164,0
25,sandy,7.136397,daily,none,16.956683,34.067439,0
145,loam,6.762000,daily,organic,22.900000,46.500000,1

Here about the description of the columns
1. Soil_Type: The type or composition of soil in which the plants are grown.
2. Sunlight_Hours: The duration or intensity of sunlight exposure received by the plants.
3. Water_Frequency: How often the plants are watered, indicating the watering schedule.
4. Fertilizer_Type: The type of fertilizer used for nourishing the plants.
5. Temperature: The ambient temperature conditions under which the plants are grown.
6. Humidity: The level of moisture or humidity in the environment surrounding the plants.
7. Growth_Milestone: Descriptions or markers indicating stages or significant events in the growth process of the plants.

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Soil_Type         193 non-null    object
 1   Sunlight_Hours    193 non-null    float64
 2   Water_Frequency   193 non-null    object
 3   Fertilizer_Type   193 non-null    object
 4   Temperature       193 non-null    float64
 5   Humidity          193 non-null    float64
 6   Growth_Milestone  193 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 10.7+ KB

In [6]:
cat_cols = ["Soil_Type", "Water_Frequency", "Fertilizer_Type"]
for col in cat_cols:
    print(ds[col].value_counts())
    print()

Soil_Type
clay     67
sandy    64
loam     62
Name: count, dtype: int64

Water_Frequency
daily        74
bi-weekly    60
weekly       59
Name: count, dtype: int64

Fertilizer_Type
none        74
chemical    65
organic     54
Name: count, dtype: int64

- Визначення структури мережі: побудувати граф структури мережі, який 
задає зв'язки між змінними (BayesianModel([...])); аргументувати вибір 
напрямків між вузлами (на основі знань про предметну область або 
припущень).

- Параметричне навчання: навчити параметри моделі на основі датасету за 
допомогою BayesianEstimator або MaximumLikelihoodEstimator.

- Виконання інференсу: реалізувати обчислення умовної ймовірності для 
цільової змінної з урахуванням заданого evidence, використовуючи 
VariableElimination або BeliefPropagation.